/* Colors */
article > h1,
nav > a:hover,
.selected {
    color: #777777;
}

/* Element declarations */
body {
    margin: 0;
}

h1, h2 {
    font-weight: 600;
}

h3, h4 {
    font-weight: 500;
}

header {
    position: fixed;
    height: 80px;
    z-index: 1;
    background-color: white;
    box-shadow: 0px 1px 10px #c0c0cc3b;
}

nav {
    width: 250px;
    height: 100%;
    position: fixed;
    background-color: white;
    resize: horizontal;
    overflow: auto;
    z-index: 1;
}

main {
    left: 250px;
    position: absolute;
}

section {
    position:absolute;
    top: 80px;
    left:0px;
    right:0px;
    bottom:0px;
    overflow-y: auto;
    z-index: 0;
    font-family: "IBM Plex Sans";
}

article {
    padding: 0.5em 1.5em;
    margin: 1em;
    background-color: white;
    box-shadow: 0 1px 14px #c0c0cc3b;
}

header,
section {
    display: inline-flex;
    width: 100%;
}

header,
nav,
main {    
    transition: 0.1s ease-out;
}

/* Layout formatting */
.sm-col {
    flex: 33%;
}

.lg-col {
    flex: 67%;
}

.pull-right {
    float: right;
}

/* Header */
div.title,
div.contact {
    margin: auto 2em;
}

div.title > h1 {
    margin: 0;
    font-size: 37px;
    min-width: 222px;
    font-family: "IBM Plex Sans";
}

div.contact > div {
    float: right;
    font-family: "Share Tech Mono";
}

div.contact > div > div > a {
    display: block;
    width: fit-content;
    text-decoration: none;
    color: black;
}

div.contact > div > div > a:visited {
    color: black;
}

div.contact > div > div > a > img {
    position: absolute;
    margin-top: 3px;
    width: 13px;
    height: 13px;
}

div.contact > div > div > a > span {
    margin-left: 20px;
}

/* Side bar */
nav > a {
    padding: 1em 1.5em;
}

nav > div {
    padding: 2em 1.5em;
    text-align: center;
}

nav > a {
    position: relative;
    display: block;
    color: black;
    transition: 0.3s all;
}

nav > a:hover {
    cursor: pointer;
}

nav > a:hover,
.selected {
    padding-left: 28px;
}

nav > a:hover > svg,
.selected > svg {
    transform: rotate(90deg);
}

/* Main */
article > h4 {
    display: inline-block;
}

article > h4,
article > span {
    margin: 10px 0;
}

article > div.subtitle {
    font-style: italic;
}

.svg-icon {
    cursor: pointer;
    stroke:black;
    stroke-width: .07em;
    stroke-linecap:round;
    margin: .24em;    
    transition: 0.5s all;
}

.line {
    float: right;
}

.arrow-right {
    position: absolute;
}

/* Media queries */
@media(max-width: 800px) {
    nav {
        width: 180px;
    }

    main {
        left: 180px;
    }

    .pull-right {
        float: none;
        display: block;
    }
}

@media(max-width: 600px) {
    nav > a:hover,
    .selected {
        padding: .66em 1em .66em 0
    }
    
    header {
        height: 56px;
        box-shadow: 0 0 0 #c0c0cc3b;
    }

    section {
        top: 56px;
    }

    .sm-col {
        flex: 40%;
    }
    
    .lg-col {
        flex: 60%;
    }

    div.title, div.contact {
        margin: auto .7em;
    }

    div.contact > div > div {
        display: inline;
    }

    div.contact > div > div > a {            
        display: inline-block;
        width: 20px;
        height: 20px;
    }

    div.contact > div > div > a > img {    
        display: flex;
        flex-direction: column;
        width: 20px;
        height: 20px;
    }

    div.contact > div > div > a > span {
        display: none;
    }

    nav {        
        width: 100%;
        height: 42px;
        top: 56px;
        text-align: center;
        display: inline-flex;
        box-shadow: 0px 1px 10px #c0c0cc3b;
    }

    nav > .about {
        display: none;
    }

    nav > a {
        height: -webkit-fill-available;
        padding: .66em 1em .66em 0;
        flex: 1;
    }

    section {
        top: 98px;
    }

    main {
        left: 0;
    }

    article {
        padding: 0.25em 1em;
        margin: .5em;
    }

    .line {
        position: absolute;
    }
}

@media(max-width: 400px) {
    div.contact > div > div { 
        display: block;   
        margin: .25em .05em;
    }    

    div.title, div.contact {
        margin: auto 1.4em;
    }
}