@charset "UTF-8";
* {
  box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px; }

html {
  border: 10px solid lightgreen; }

body {
  font-family: "IBM Plex Mono", monospace, Menlo, Courier, monospace, "Lucida Console";
  background: #fdfdfd;
  color: #222; }

h1 {
  margin-top: 0px; }

section {
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch; }

.content {
  max-width: 760px;
  padding-top: 10vh;
  padding-bottom: 10vh;
  margin: auto; }

.pinned {
  background: #222;
  color: #eef;
  border-top: 2px dashed;
  padding-right: 75px;
  padding-left: 75px;
  position: relative; }
  .pinned a {
    color: seagreen; }
  .pinned:after, .pinned:before {
    content: '📌';
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 18px;
    filter: brightness(100) blur(0.1px); }
  .pinned:before {
    right: auto;
    left: 5px; }

.under-padding {
  margin-left: 240px;
  border-top: 2px solid #fdfdfd;
  margin-top: -2px; }

article {
  margin-left: 240px;
  border-bottom: 2px dashed #eef;
  padding: 20px 30px; }
  article:last-child {
    border-bottom: 0px; }

a.clean {
  text-decoration: none;
  color: #222000; }
  a.clean:hover {
    text-decoration: underline; }

header {
  border-right: 2px dashed #eef;
  position: fixed;
  width: 240px;
  height: 97%;
  padding-right: 30px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  top: 10px; }
  header h1,
  header h2 {
    font-family: "Barlow Semi Condensed", HelveticaNeue-CondensedBlack, Impact;
    font-style: bold;
    margin-bottom: 0px; }
  header h2 {
    font-size: 20px;
    letter-spacing: 1px;
    color: seagreen;
    margin-top: 10px; }
  header h1 {
    margin-top: 0px;
    font-size: 36px;
    margin-bottom: -4px; }
  header label {
    cursor: pointer;
    user-select: none;
    font-style: italic;
    font-size: 13px; }
  header b {
    padding-bottom: 1px;
    display: inline-block; }
  header input[type="checkbox"] {
    cursor: pointer;
    vertical-align: top;
    margin-top: 3px; }

h1 {
  font-size: 20px; }

em {
  color: #777; }

p {
  font-size: 14px;
  line-height: 1.3em;
  margin-bottom: 25px; }
  p:last-child {
    margin-bottom: 10px; }

blockquote {
  margin-left: 0px;
  border-left: 3px solid seagreen;
  padding-left: 25px;
  margin-top: 25px;
  margin-bottom: 25px; }

a {
  color: #0000ef; }

img {
  max-width: 100%; }

.highlight {
  padding: 20px; }

.no-serious .serious {
  display: none; }

.no-fun .fun {
  display: none; }

.highlight table td {
  padding: 5px; }

.highlight table pre {
  margin: 0; }

.highlight {
  color: #f8f8f2;
  background-color: #49483e; }

@media only screen and (max-width: 650px) {
  header {
    position: relative;
    width: 100%;
    border: 0px;
    text-align: center;
    height: auto; }

  .content {
    padding-top: 10px; }

  .filters {
    display: none; }

  .links {
    margin-top: -10px; }

  article {
    margin-left: 0px; }
  }
