/* Space out content a bit */
body {
  background-color: #eee;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-x: hidden;
}

.brand-header {
    margin-top: 2px;
    margin-left: 2px;
    background-color: #F6F6F6;
    width: 210px;
}

img {
  width: 210px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.img-wrap {
  padding: 0px;  
  padding-bottom: 10px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.search-query:focus + button {
    z-index: 3;   
}

.btn {
  margin-top: 3px;
  margin-bottom: 3px;
  font-style: normal;
}

.btn-course {
  color: #fff;
  background-color: #618A9D;
  border-color: #567C8F;
  width: 125px;
  padding-left: 0px;  
  padding-right: 0px;
}

.btn-course:hover, .btn-course:focus {
  background-color: #567C8F;
  border-color: #537687;
}

.btn-status {
  width: 100px;
}

.btn-dropdown {
  width: 25px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.navbar-default {
    background-color: #5B7F82;
}

/* title */
.navbar-default .navbar-brand {
    color: #E6F5EB;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #F6F6F6;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-header > a:hover, .navbar-header > a:focus {
    color: #B2BFBF !important;  /*Sets the text hover color on navbar*/
}

.navbar-toggle, .navbar-collapse {
    border-color: transparent !important;
}

.btn-group-course {
  margin-left: 8px;
}

.alert-course {
  width: 266px;
}

.alert {
  margin-top: 5px;
  margin-bottom: 0px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

h3 {
  font-family: 'Roboto', sans-serif;
}

.course-img {
    width: 300px;
    height: 200px;
}

.btn-group-search {
  display: flex;
}

.form-control {
  width: 80%;
  border-bottom-right-radius: 0px;
  margin-bottom: 0px;
}

.search-bar {
  width: 20%;
  min-width: 120px;
  padding: 0px;
  height: 31px;
}